body{
    background-color: rgba(0, 0, 0, 0.85); /* Gray-ish background */
    background-image: url("bgs/bg0.jpg"); /* Initial background */
    background-repeat: no-repeat; /* Dont repeat the background image when scrolling */
    background-size:cover; /* Make the background image cover all the screen */
    background-attachment: fixed; /* Lock the background image in place */
}
html{
    overflow-x: hidden; /* Prevent horizontal scrolling simply because it looks ugly if it ever is possible, just a preventive measure */
}
.two{
    grid-column: span 2 / auto;
}
.three{
    grid-column: span 3 / auto;
}
.four{
    grid-column: span 4 / auto;
}
.five{
    grid-column: span 5 / auto;
}
.six{
    grid-column: span 6 / auto;
}
.seven{
    grid-column: span 7 / auto;
}
.eight{
    grid-column: span 8 / auto;
}
.nine{
    grid-column: span 9 / auto;
}
.ten{
    grid-column: span 10 / auto;
}
.eleven{
    grid-column: span 11 / auto;
}
.twelve{
    grid-column: span 12 / auto;
}
section{
    display: grid; /* We need sections to be responsive */
    gap: 1rem; /* The distance should be 1rem */
    grid-template-columns: repeat(12, minmax(30px, 80px)); /* Set the template columns to as many objects as we can fit */
}
.top{
    margin-top: -10px; /* These 3 margins are to cover up the top part, to make it look like its on top of everything */
    background-color: rgba(62, 62, 62, 0.85); /* Make this a slightly brighter gray than the background */
    padding-top: 1%; /* The padding here is just to center it better */
    align-items: center; /* Centering elements */
    text-align: center;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5); /* Some shadow to the whole div, taken (stolen) from stackoverflow */
    min-height: 50%; /* We dont want it to shrink too much on mobile screens */
}
button.nav{
    margin-left: 10px; /* Just centering better, i made a mess of centering these buttons */
    width: 60px;
    color: white; /* 🤍 */
    background-color: rgba(0, 0, 0, 0); /* No background */
    border-style: none; /* No border */
    user-select: none; /* And no select either */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-bottom: 3px solid rgba(255, 0, 0, 0.70); /* Cool little effect under the button */
}
button.nav:hover{ /* :hover 🙏 */
    color: darkgray; /* Make it look like we can press it */
    border-bottom-color: rgba(94, 255, 0, 0.7); /* Change the botton color aswell */
    animation-duration: 0.5s; /* Cool animation to make the changes slowly fade in */
    animation-name: colorpan;
    transform: translateY(5px); /* Move it down by 5px */
}
@keyframes colorpan{ /* Animation */
    from{
        transform: translateY(0);
        color: white;
        border-bottom-color: rgba(255, 0, 0, 0.70);
   }
    to{
        transform: translateY(5px);
        color: darkgray;
        border-bottom-color: rgba(94, 255, 0, 0.7);
   }
}
img.icon{
    -webkit-user-drag: none; /* Disable dragging (doesnt work) */
    user-select: none; /* Selecting elements is ugly */
}
img.icon:hover{ /** Spin!!! */
    animation-duration: 1s;
    animation-name: rot;
}
@keyframes rot{
    from{
        transform: rotate(0deg);
   }
    to{
        transform: rotate(360deg);
   }
}
p{ /* Main paragraph */
    user-select: none; /* No select. again */
    text-align: right; /* Align it to the right */
    color: white; /* 🤍 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.7); /* Thanks stackoverflow */
}
h1{ /*? I wont comment over the same lines */
    text-shadow:5px 5px rgba(200, 0, 90, 0.5);
    user-select: none;
    color: rgb(255, 247, 189);
    font-size: 30px;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section.contentwrapper{ /* As i said */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, minmax(30px, 400px));
    align-items: center;
    text-align: center;
}
div.text{
    min-width: 300px;
    max-width: 600px;
}
div.titler{ /* Questionable class name */
    min-width: 300px;
    align-items: center;
    text-align: center;
}
h1.thinger{
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    max-width: 200px;
    color: rgba(255, 255, 255, 0.4);
    text-align: left;
}
div.card{
    width: minmax(300px, 400px); /* Im not exactly sure why i put this here but this thing barely keeps itself together so i wont bother */
    border: 5px solid red;
    background-color: rgba(126, 126, 126, 0.3);
}
