body{
    background-color: rgba(0, 0, 0, 0.85); 
    background-image: url("bgs/bg0.jpg"); 
    background-repeat: no-repeat; 
    background-size:cover; 
    background-attachment: fixed; 
}
html{
    overflow-x: hidden; 
}

.top{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -20px;
    background-color: rgba(62, 62, 62, 0.85); 
    padding-top: 1%;
    align-items: center; 
    text-align: center;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5); 
    min-height: 50%; 
}
button.nav{
    margin-left: 10px;
    width: 60px;
    color: white; 
    background-color: rgba(0, 0, 0, 0);
    border-style: none; 
    user-select: none; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-bottom: 3px solid rgba(255, 0, 0, 0.70); 
}
button.nav:hover{ 
    color: darkgray; 
    border-bottom-color: rgba(94, 255, 0, 0.7); 
    animation-duration: 0.5s; 
    animation-name: colorpan;
    transform: translateY(5px); 
}
@keyframes colorpan{ 
    from{
        transform: translateY(0);
        color: white;
        border-bottom-color: rgba(255, 0, 0, 0.70);
   }
    to{
        transform: translateY(5px);
        color: darkgray;
        border-bottom-color: rgba(94, 255, 0, 0.7);
   }
}
img.icon{
    -webkit-user-drag: none; 
    user-select: none; 
}
img.icon:hover{ 
    animation-duration: 1s;
    animation-name: rot;
}
@keyframes rot{
    from{
        transform: rotate(0deg);
   }
    to{
        transform: rotate(360deg);
   }
}
p{
    user-select: none; 
    text-align: right; 
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.7); 
}
h1{
    text-shadow:5px 5px rgba(255, 0, 43, 0.315);
    user-select: none;
    color: rgb(255, 247, 189);
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section.contentwrapper{ 
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, minmax(10px, 400px));
    align-items: center;
    text-align: center;
    justify-content: center;
}
div.text{
    grid-column-start: 2;
    grid-column-end: 7;
}
div.titler{
    border-radius: 20px;
    border-right: 5px solid red;
    border-left: 5px solid red;
    background-color: rgba(0, 0, 0, 0.616);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.thinger{
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.4);
    text-align: left;
    position: relative;
    left: 20px
}
div.card{
    width: minmax(300px, 400px);
}
.one{
    grid-column: span 1 / auto;
}
.two{
    grid-column: span 2 / auto;
}
.three{
    grid-column: span 3 / auto;
}
.four{
    grid-column: span 4 / auto;
}
.five{
    grid-column: span 5 / auto;
}
.six{
    grid-column: span 6 / auto;
}
.seven{
    grid-column: span 7 / auto;
}
.eight{
    grid-column: span 8 / auto;
}
.nine{
    grid-column: span 9 / auto;
}
.ten{
    grid-column: span 10 / auto;
}
.eleven{
    grid-column: span 11 / auto;
}
.twelve{
    grid-column: span 12 / auto;
}
@media screen and (max-width: 962px) {ù
    .header{
        font-size: 30px;
    }
    .five{
        grid-column: span 12 / auto;
    }
    .four{
        grid-column: span 12 / auto;
    }
    .thinger{
        font-size: 40px;
    }
    div.text{
        grid-column-start: 0;
        grid-column-end: 12;
    }
    #par{
        font-size: 35px;
    }
}
@media screen and (max-width: 601px) {
    .header{
        font-size: 20px;
    }
    .five{
        grid-column: span 12 / auto;
    }
    .four{
        grid-column: span 12 / auto;
    }
    .thinger{
        font-size: 30px;
    }
    div.text{
        grid-column-start: 0;
        grid-column-end: 12;
    }
    #par{
        font-size: 20px;
    }
}
@media screen and (max-width: 280px){
    .header{
        font-size: 20px;
    }
    .five{
        grid-column: span 12 / auto;
    }
    .four{
        grid-column: span 12 / auto;
    }
    .thinger{
        font-size: 30px;
    }
    div.text{
        grid-column-start: 0;
        grid-column-end: 12;
    }
    #par{
        font-size: 20px;
    }
    #ffs{
        position: relative;
        left: 14px;
    }
}